/* Blog */
.content{
    font-size: medium;
    font-style: italic;
  }
  
  .result{
    font-size: medium;
    font-style: italic;
    font-weight: bold;
  }
  
  .readmore{
    text-decoration: underline;
  }

  .blog_container{
    display:flex;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    align-items: center;
    /* stretch
    flex-start
    flex-end
    center */
    justify-content: space-around;
    /* flex-start
    flex-end
    center
    space-around
    space-between
    space-evenly */
    /* border: 2px solid yellow; */
  }